{
  "swagger": "2.0",
  "info": {
    "description": "The Avetta API is a mechanism to allow our customers to retrieve Audit and Supplier data from Connect via application programming interface. The Avetta API is organized around REST and uses HTTP status codes and error payload responses to indicate API errors.\n\nWe leverage the HTTP protocol features, like HTTP verbs and status codes, which are commonly used and are understood by off-the-shelf HTTP clients.\nAll API responses (including errors) will be returned in JSON format.\n\n#### Versioning\n\nYou will notice in this documentation that the URL for this API is as follows: https://api.avetta.com/client-api/vX....\nThis URL contains `vX` to specify the particular version to be used when making the desired call. Different versions of the same endpoint may return different results, therefore it is important to note the versions of each endpoint in this documentation.\nPlease be aware of this as you check each endpoint.\n\n#### Authentication\n\nWhen using the API, include your secret API key in the request for the service to authenticate your account. This API Key will be provided to you by your point of contact in Avetta.\n\nAll API requests must be made over HTTPS. Calls to the service over HTTP will result in a 302 Redirect response to the HTTPS end-point. API requests without an apikey will fail.\n\n#### Errors\n\nAvetta uses conventional HTTP response codes to indicate the success or failure of an API request. In general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, an invalid account number, validation failure, etc.), and in rare situations, codes in the 5xx range indicate a server error.\n\n#### Examples To Follow\nHow to call Suppliers to view Compliance for all suppliers?<br>\n/v1/suppliers?apikey<br>\nHow to call Flags?<br>\n/v1/flags?apikey=key&flagTye=Green<br>\nHow to call Forms?<br>\nv1/forms?apikey=key&formName=&supplierId=250&questionId=15139<br>\nShould I use Audit or Forms?<br>\nForms if a better choice fro specific queries. If you need to pull all forms using Audit do not call this endpoint more than 1 time per day as this has a performance impact on the system.<br>\n\n#### Pagination\n\nAvetta has a default maximum limit of 500 results in one API call, configurable up to a maximum of 3000 via the `limit` parameter. In the case where the `count` endpoint returns a response more than the default limit, you must utilize pagination to retrieve the full data set. Avetta utilizes cursor-based pagination via optional start and limit query string parameters. The `start` parameter indicates the record to start with for pagination and the `limit` parameter indicates the total number of records to return.\n\nConsider the following scenario:\n\n\tStep 1: Retrieve total number of records from the supplier count endpoint.\n\t\n\tThe supplier count endpoint returns 6450 records. Since this record is greater than the default number of records returned of 500, pagination must be used to retrieve all the records from the count result.\n\t\n\tA possible approach to this would be\n\t\n\tStep 2: Call the supplier endpoint with `start=1&limit=3000` [This will return the records 1-3000]\n\tStep 3: Call the supplier endpoint with `start=3001&limit=3000` [This will return the records 3001-6000]\n\tStep 4: Call the supplier endpoint with `start=6001&limit=3000` [This will return the next 3000 records, which in this case will only be the remaining 450 records (6001 - 6450]\n\n#### Modified Records\n\nAn optional parameter available for both supplier and audit endpoints is the `modifiedAfter` field. This query string parameter takes in a string with the following format: `yyyy-MM-dd HH:mm:ss` using Coordinated Universal Time (UTC). This will return records that have been modified after the specified date and time. In the event that only a date, `yyyy-MM-dd`, is received the system will default the time to `00:00:00` UTC.\n\n\n#### Error Handling\n\nOur errors are listed below in the following format -> Code Error Number [Actual Message]: Description of the error.\n* Code 1 [Validation Failed]: An invalid API key was provided.\n* Code 2 [Invalid Parameters]: The start and/or limit parameters entered are not within acceptable limits.\n* Code 3 [Unknown Record]: The entered start parameter is beyond the total number of records available.\n* Code 4 [Unmapped]: Client ID that is entered is not mapped on the custom DB tables.\n* Code 5 [Server Error]: The system has encountered an unexpected error while processing the request.\n* Code 6 [ConID Error]: The requested supplier ID is unknown under the current API key.\n* Code 7 [Null Data]: No audit or flag data available.\n* Code 8 [Invalid Format]: Provided date and time does not conform to the `yyyy-MM-dd HH:mm:ss` or `yyyy-MM-dd` formats.\n* Code 9 [Unknown file type]: Internal Server Error.\n",
    "title": "Experiment-Client API Service Adapted from Next",
    "version": ""
  },
  "host": "api.avetta.com",
  "basePath": "/client-api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/accounts/{account_id}/users": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for an account",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "number",
            "x-example": "17800"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": [
                {
                  "id": 1238,
                  "account_id": 89001,
                  "username": "testuser",
                  "first_name": "Bob",
                  "last_name": "Smith",
                  "title": "Plumber",
                  "email": "testuser@test.com",
                  "status": "Active",
                  "created_date": "2016-07-23 05:10:57",
                  "updated_date": "2016-09-23 10:11:31",
                  "roles": [
                    {
                      "id": 123,
                      "name": "Admin Group",
                      "permissions": [
                        {
                          "id": "22",
                          "name": "Insurance Management"
                        }
                      ]
                    }
                  ],
                  "permissions": [
                    {
                      "id": "20",
                      "name": "Account Management"
                    }
                  ]
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "account_id": {
                    "type": "integer"
                  },
                  "username": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "created_date": {
                    "type": "string"
                  },
                  "updated_date": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "User Endpoint"
        ],
        "description": "List of `User` data.",
        "summary": "Get Users",
        "x-private": true
      }
    },
    "/v1/accounts/{account_id}/users/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for an account",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "number",
            "x-example": "17800"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "description": "Optional value to return amount of modified records since the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": [
                {
                  "total_records": 1845
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {},
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "User Endpoint"
        ],
        "description": "",
        "summary": "Get User Count",
        "x-private": true
      }
    },
    "/v1/audits": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "The supplier ID to filter results by",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "number",
            "x-example": "117463"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "contractor_id": 78910,
                  "contractor_name": "ABC Painting",
                  "audit_type_id": 1,
                  "audit_type_name": "PQF",
                  "audit_score": 0,
                  "audit_year": "2018",
                  "audit_period": "2018-01-01 - 2019-04-01",
                  "category_id": 78,
                  "category_name": "Contractor Information",
                  "title": "",
                  "question_id": 23,
                  "question": "What is the name of your company?",
                  "answer": "ABC Painting",
                  "updated_date": "2016-07-23 05:10:57"
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {
                "properties": {
                  "contractor_id": {
                    "type": "integer"
                  },
                  "contractor_name": {
                    "type": "string"
                  },
                  "audit_type_id": {
                    "type": "integer"
                  },
                  "audit_type_name": {
                    "type": "string"
                  },
                  "audit_score": {
                    "type": "integer"
                  },
                  "audit_year": {
                    "type": "string"
                  },
                  "audit_period": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "integer"
                  },
                  "category_name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "question_id": {
                    "type": "integer"
                  },
                  "question": {
                    "type": "string"
                  },
                  "answer": {
                    "type": "string"
                  },
                  "updated_date": {
                    "type": "string"
                  }
                }
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Audit Endpoint"
        ],
        "description": "Retrieves a set of `Audit` data based on the client making the request and the pagination parameters. The `href` field will only return for `Audit` data that are file related. Only active suppliers that have approved connections to clients will be returned in this endpoint.",
        "summary": "Get Audit Data",
        "deprecated": true,
        "x-private": true
      }
    },
    "/v1/audits/count": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "description": "Contractor ID to determine total records per contractor",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "number",
            "x-example": "118577"
          },
          {
            "description": "Optional value to return amount of modified records since the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "total_records": 1845
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {},
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Audit Endpoint"
        ],
        "description": "",
        "summary": "Get Audit Count",
        "deprecated": true,
        "x-private": true
      }
    },
    "/v2/audits": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "The supplier ID to filter results by",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "number",
            "x-example": "117463"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "contractor_id": 78910,
                  "contractor_name": "ABC Painting",
                  "audit_data": [
                    {
                      "audit_type_id": "1",
                      "audit_name": "PQF",
                      "audit_details": [
                        {
                          "audit_id": "16863151",
                          "audit_score": "0",
                          "audit_year": "2020",
                          "audit_period": "2018-01-01 - 2019-04-01",
                          "categories": [
                            {
                              "category_id": "78",
                              "category_name": "Contractor Information",
                              "title": "",
                              "questions": [
                                {
                                  "question_id": "23",
                                  "question": "What is the name of your company?",
                                  "answer": "ABC Painting",
                                  "updated_date": "2020-11-17 22:35:55"
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {
                "properties": {
                  "contractor_id": {
                    "type": "integer"
                  },
                  "contractor_name": {
                    "type": "string"
                  },
                  "audit_data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "audit_type_id": {
                          "type": "string"
                        },
                        "audit_name": {
                          "type": "string"
                        },
                        "audit_details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "audit_id": {
                                "type": "string"
                              },
                              "audit_score": {
                                "type": "string"
                              },
                              "audit_year": {
                                "type": "string"
                              },
                              "audit_period": {
                                "type": "string"
                              },
                              "categories": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "category_id": {
                                      "type": "string"
                                    },
                                    "category_name": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "questions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "question_id": {
                                            "type": "string"
                                          },
                                          "question": {
                                            "type": "string"
                                          },
                                          "answer": {
                                            "type": "string"
                                          },
                                          "updated_date": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Audit Endpoint"
        ],
        "description": "Retrieves a set of `Audit` data based on the client making the request and the pagination parameters. The `href` field will only return for `Audit` data that are file related. Only active suppliers that have approved connections to clients will be returned in this endpoint.",
        "summary": "Get Audit Data",
        "deprecated": true,
        "x-private": true
      }
    },
    "/v2/audits/count": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "description": "Contractor ID to determine total records per contractor",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "number",
            "x-example": "118577"
          },
          {
            "description": "Optional value to return amount of modified records since the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "total_records": 123
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {},
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Audit Endpoint"
        ],
        "description": "",
        "summary": "Get Audit Count",
        "x-private": true,
        "deprecated": true
      }
    },
    "/v1/files/{supplierId}/{id}": {
      "get": {
        "produces": [
          "application/pdf",
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The ID of the supplier",
            "in": "path",
            "name": "supplierId",
            "required": true,
            "type": "number",
            "x-example": "44282"
          },
          {
            "description": "The ID of the file",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "2020-04-04T04:40:00.066Z~~~SomeFile.pdf"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "bz6cfchkdgzxj65obla5gcw3gcslr2rl"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/pdf": ""
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "File Endpoint"
        ],
        "description": "Return the binary file. The response content type header is set to be a PDF as an example, but other file types can be returned such as text, or doc/docx.\nThe URL for this endpoint is returned by the `href` field from the `Form Data` endpoint. That `href` field will require an additional `&apikey=INSERT_API_KEY_HERE` to be appended to the end of the URL for a valid file call to be made.",
        "summary": "Get File"
      }
    },
    "/v1/hierarchies": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": [
                {
                  "account_id": 91989,
                  "created_date": "2016-07-23 05:10:57",
                  "name": "Oil Corporation",
                  "parent_account_id": 10190,
                  "status": "Active",
                  "subscriptions": [
                    {
                      "id": 18,
                      "name": "EmployeeGUARD"
                    }
                  ],
                  "top_account_id": 89011,
                  "type": "Corporate",
                  "updated_date": "2016-09-23 10:11:31"
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "integer"
                  },
                  "created_date": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "parent_account_id": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string"
                  },
                  "subscriptions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "top_account_id": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string"
                  },
                  "updated_date": {
                    "type": "string"
                  }
                }
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Hierarchy Endpoint"
        ],
        "description": "List of hierarchy data. Top-level, corporate accounts with have a `parent_id` of null.",
        "summary": "Get Hierarchies",
        "x-private": true
      }
    },
    "/v1/hierarchies/{accountId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The account ID to get its hierarchy",
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "number",
            "x-example": "44282"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": [
                {
                  "account_id": 91989,
                  "created_date": "2016-07-23 05:10:57",
                  "name": "Oil Corporation",
                  "parent_account_id": 10190,
                  "status": "Active",
                  "subscriptions": [
                    {
                      "id": 18,
                      "name": "EmployeeGUARD"
                    }
                  ],
                  "top_account_id": 89011,
                  "type": "Corporate",
                  "updated_date": "2016-09-23 10:11:31"
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {},
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Hierarchy Endpoint"
        ],
        "description": "Hierarchy data for a given account ID. Top-level, corporate accounts with have a `parent_id` of null.",
        "summary": "Get Hierarchy Data",
        "x-private": true
      }
    },
    "/v1/insurance": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The numeric identifier for a supplier",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "number",
            "x-example": "44282"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "clients": [
                    {
                      "client_id": 8372,
                      "client_name": "Oil Rig",
                      "insurance_data": [
                        {
                          "audit_id": 7365,
                          "insurance_type_detail": [
                            {
                              "category_id": 628,
                              "category_name": "General Information",
                              "values": [
                                {
                                  "answer": "123 Luke St",
                                  "href": "/client-api/v1/files/2839?questionId=395",
                                  "question": "What is your Address?",
                                  "question_id": 395,
                                  "title": "Some Title",
                                  "updated_date": "2016-09-23 10:11:31"
                                }
                              ]
                            }
                          ],
                          "insurance_type_id": 34,
                          "insurance_type_name": "General Policy"
                        }
                      ]
                    }
                  ],
                  "contractor_id": 2938,
                  "contractor_name": "ABC Painting"
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "clients": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "client_id": {
                          "type": "integer"
                        },
                        "client_name": {
                          "type": "string"
                        },
                        "insurance_data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "audit_id": {
                                "type": "integer"
                              },
                              "insurance_type_detail": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "category_id": {
                                      "type": "integer"
                                    },
                                    "category_name": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "answer": {
                                            "type": "string"
                                          },
                                          "href": {
                                            "type": "string"
                                          },
                                          "question": {
                                            "type": "string"
                                          },
                                          "question_id": {
                                            "type": "integer"
                                          },
                                          "title": {
                                            "type": "string"
                                          },
                                          "updated_date": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "insurance_type_id": {
                                "type": "integer"
                              },
                              "insurance_type_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "contractor_id": {
                    "type": "integer"
                  },
                  "contractor_name": {
                    "type": "string"
                  }
                }
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Insurance Endpoint"
        ],
        "description": "Retrieves a set of `Insurance` data based on the provided apiKey and pagination parameters. If an `id` is provided, only the insurance data pertaining to that supplier will be returned. Only active suppliers that have approved connections to clients will be returned in this endpoint.",
        "summary": "Get Insurance Data",
        "x-private": true
      }
    },
    "/v2/insurance": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The numeric identifier for a supplier",
            "in": "query",
            "name": "id",
            "required": false,
            "type": "number",
            "x-example": "44282"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "Optional value to return records after the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          },
          {
            "description": "COMPLETE",
            "in": "query",
            "name": "daysExp",
            "required": false,
            "type": "integer",
            "x-example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "clients": [
                    {
                      "client_id": 8372,
                      "client_name": "Oil Rig",
                      "insurance_data": [
                        {
                          "audit_id": 7365,
                          "audit_status": "Approved",
                          "flags": [
                            {
                              "flag_id": 46305,
                              "flag_type": "form",
                              "flag_name": "Liability must be submitted by the supplier and approved according to client requirements for compliance",
                              "original_flag": "Green",
                              "forced_flag": "",
                              "forced_flag_expiration": "",
                              "flag_updated_date": "2020-06-01 12:55:08"
                            }
                          ],
                          "insurance_type_detail": [
                            {
                              "category_id": 628,
                              "category_name": "General Information",
                              "values": [
                                {
                                  "answer": "123 Luke St",
                                  "href": "/client-api/v1/files/2839?questionId=395",
                                  "question": "What is your Address?",
                                  "question_id": 395,
                                  "title": "Some Title",
                                  "updated_date": "2016-09-23 10:11:31"
                                }
                              ]
                            }
                          ],
                          "insurance_type_id": 34,
                          "insurance_type_name": "General Policy",
                          "insurance_updated_date": "2019-11-01 01:01:01"
                        }
                      ]
                    }
                  ],
                  "contractor_id": 2938,
                  "contractor_name": "ABC Painting",
                  "external_id": [
                    {
                      "client_id": 123,
                      "type": "Other",
                      "value": "234489"
                    }
                  ]
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "clients": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "client_id": {
                          "type": "integer"
                        },
                        "client_name": {
                          "type": "string"
                        },
                        "insurance_data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "audit_id": {
                                "type": "integer"
                              },
                              "audit_status": {
                                "type": "string"
                              },
                              "flags": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "flag_id": {
                                      "type": "integer"
                                    },
                                    "flag_type": {
                                      "type": "string"
                                    },
                                    "flag_name": {
                                      "type": "string"
                                    },
                                    "original_flag": {
                                      "type": "string"
                                    },
                                    "forced_flag": {
                                      "type": "string"
                                    },
                                    "forced_flag_expiration": {
                                      "type": "string"
                                    },
                                    "flag_updated_date": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "insurance_type_detail": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "category_id": {
                                      "type": "integer"
                                    },
                                    "category_name": {
                                      "type": "string"
                                    },
                                    "values": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "answer": {
                                            "type": "string"
                                          },
                                          "href": {
                                            "type": "string"
                                          },
                                          "question": {
                                            "type": "string"
                                          },
                                          "question_id": {
                                            "type": "integer"
                                          },
                                          "title": {
                                            "type": "string"
                                          },
                                          "updated_date": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "insurance_type_id": {
                                "type": "integer"
                              },
                              "insurance_type_name": {
                                "type": "string"
                              },
                              "insurance_updated_date": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "contractor_id": {
                    "type": "integer"
                  },
                  "contractor_name": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "client_id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Insurance Endpoint"
        ],
        "description": "Retrieves a set of `Insurance` data based on the provided apiKey and pagination parameters. If an `id` is provided, only the insurance data pertaining to that supplier will be returned. Only active suppliers that have approved connections to clients will be returned in this endpoint.",
        "summary": "Get Insurance Data",
        "x-private": true
      }
    },
    "/v2/suppliers": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "default": 1,
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "number",
            "x-example": "1"
          },
          {
            "default": 500,
            "description": "The total number of records to return, maximum of 3000",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number",
            "x-example": "1000"
          },
          {
            "description": "Optional parameter. The `modifiedAfter` parameter will filter out any records with updated_date values older than the value of the parameter supplied. Please note: updated_date does NOT keep track of the last time one of the fields in the payload has changed. In fact, it keeps track of the last change anywhere in the entire supplier model (an internal model, of which only certain fields are exposed in this endpoint). This, while not very intuitive, means that a possible scenario includes pulling data which has a very recent date in modifiedAfter, despite there not having been any other visible changes to the model in quite some time. Changes that can result in updating this updated_date value include changes made by the supplier, changes made by the client (e.g. applying or removing tags), and also some changes made by the system, including recalculating forms and flags.",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          },
          {
            "description": "Optional value to indicate the connection status of the supplier",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-example": "pending"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "id": 89010,
                  "name": "Bob's Plumbing Services",
                  "dba_name": "Bob's Plumbing Services, LLC",
                  "company_url": "www.bobsplumbing.com",
                  "description": "Providing plumbing services",
                  "primary_contact": {
                    "id": 123,
                    "first_name": "Bob",
                    "last_name": "Smith",
                    "email": "bob.smith@fakeemail.com",
                    "phone": "555 555 1234",
                    "fax": "555 555 4567"
                  },
                  "address": {
                    "address_line1": "123 Main St",
                    "address_line2": "Suite 100",
                    "city": "Irvine",
                    "country": "United States",
                    "country_subdivision": "California",
                    "postal_code": "92614"
                  },
                  "billing_address": {
                    "address_line1": "123 Main St",
                    "city": "Irvine",
                    "country": "United States",
                    "country_subdivision": "California",
                    "postal_code": "92614"
                  },
                  "account_status": "Active",
                  "updated_date": "2016-07-23 05:10:57",
                  "external_id": [
                    {
                      "client_id": 123,
                      "type": "Other",
                      "value": "234489"
                    }
                  ],
                  "supplier_tags": [
                    {
                      "tags": [
                        {
                          "id": 223,
                          "name": "Sample Tag"
                        }
                      ],
                      "client_id": 123
                    }
                  ],
                  "flags": [
                    {
                      "client_id": 123,
                      "client_name": "Oil Rig",
                      "forced_expiration": "2018-06-30 00:00:00",
                      "is_forced": "True",
                      "system_flag": "Amber",
                      "system_flag_details": [
                        {
                          "flag": "Amber",
                          "forced_expiration": "2018-06-30 00:00:00",
                          "is_forced": "True",
                          "reasons": [
                            {
                              "85": "High TRIR, Missing Documentation"
                            },
                            {
                              "42": "General Liability is missing"
                            }
                          ]
                        },
                        {
                          "flag": "Green",
                          "is_forced": "False",
                          "forced_expiration": "",
                          "reasons": [
                            ""
                          ]
                        }
                      ]
                    }
                  ],
                  "trades": [
                    {
                      "frequency": "most",
                      "service_offerings": [
                        {
                          "82": "Welding"
                        },
                        {
                          "193": "Manufacturing"
                        }
                      ]
                    }
                  ],
                  "service_types": [
                    "On-site",
                    "Off-site"
                  ]
                }
              ]
            },
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "dba_name": {
                    "type": "string"
                  },
                  "company_url": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "primary_contact": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "fax": {
                        "type": "string"
                      }
                    }
                  },
                  "isForced": {
                    "type": "string"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "address_line1": {
                        "type": "string"
                      },
                      "address_line2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "country_subdivision": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      }
                    }
                  },
                  "billing_address": {
                    "type": "object",
                    "properties": {
                      "address_line1": {
                        "type": "string"
                      },
                      "address_line2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "country_subdivision": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      }
                    }
                  },
                  "account_status": {
                    "type": "string"
                  },
                  "updated_date": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "clientId": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "supplier_tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "client_id": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "flags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "client_id": {
                          "type": "integer"
                        },
                        "client_name": {
                          "type": "string"
                        },
                        "forced_expiration": {
                          "type": "string"
                        },
                        "is_forced": {
                          "type": "string"
                        },
                        "system_flag": {
                          "type": "string"
                        },
                        "system_flag_details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "flag": {
                                "type": "string"
                              },
                              "forced_expiration": {
                                "type": "string"
                              },
                              "is_forced": {
                                "type": "string"
                              },
                              "reasons": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "trades": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "frequency": {
                          "type": "string"
                        },
                        "service_offerings": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  },
                  "service_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "type": "object",
              "properties": {
                "code": {},
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Supplier Endpoint"
        ],
        "description": "Retrieves a list of multiple supplier data. By default, only suppliers that have active connections to clients will be returned in this endpoint.\n\n* The `flags` array contains the supplier’s flag for a particular `client_id`. \n* The `client_id` field is the identifier of a specific site within your account hierarchy. \n* The `system_flag` field shows the overall flag color for a particular supplier/contractor for that `client_id`.\n* The `system_flag_details` array contains the detail of your individual flaggable data and its current flag color. This provides specific detailed reasons for the current overall flag color, `system_flag` for in regards to that specific `client_id`.\n\n",
        "summary": "Get Suppliers"
      }
    },
    "/v2/suppliers/count": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "description": "Optional value to return amount of modified records since the specified date and time",
            "in": "query",
            "name": "modifiedAfter",
            "required": false,
            "type": "string",
            "x-example": "2016-07-23 05:10:57"
          },
          {
            "description": "Optional value to indicate the connection status of the supplier",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-example": "pending"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "total_records": 1845
                }
              ]
            },
            "headers": {},
            "schema": {
              "type": "array",
              "description": "",
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "type": "object",
                "required": [
                  "total_records"
                ],
                "properties": {
                  "total_records": {
                    "type": "number"
                  }
                }
              },
              "x-examples": {
                "example-1": [
                  {
                    "total_records": 1845
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Supplier Endpoint"
        ],
        "description": "Retrieves the number of suppliers returned from the `Get Suppliers` endpoint.",
        "summary": "Get Supplier Count"
      }
    },
    "/v2/suppliers/{id}": {
      "get": {
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "description": "The numeric identifier for a supplier",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "number",
            "x-example": "118577"
          },
          {
            "description": "The apikey for the client",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string",
            "x-example": "aujc990kjbba"
          },
          {
            "description": "Optional value to indicate the connection status of the supplier",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-example": "pending"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json; charset=utf-8": [
                {
                  "id": 89010,
                  "name": "Bob's Plumbing Services",
                  "dba_name": "Bob's Plumbing Services, LLC",
                  "company_url": "www.bobsplumbing.com",
                  "description": "Providing plumbing services",
                  "primary_contact": {
                    "email": "bob.smith@fakeemail.com",
                    "fax": "555 555 4567",
                    "first_name": "Bob",
                    "last_name": "Smith",
                    "phone": "555 555 1234"
                  },
                  "address": {
                    "address_line1": "123 Main St",
                    "address_line2": "Suite 100",
                    "city": "Irvine",
                    "country": "United States",
                    "country_subdivision": "California",
                    "postal_code": "92614"
                  },
                  "billing_address": {
                    "address_line1": "123 Main St",
                    "city": "Irvine",
                    "country": "United States",
                    "country_subdivision": "California",
                    "postal_code": "92614"
                  },
                  "account_status": "Active",
                  "updated_date": "2016-07-23 05:10:57",
                  "external_id": [
                    {
                      "client_id": 123,
                      "type": "Other",
                      "value": "234489"
                    }
                  ],
                  "supplier_tags": [
                    {
                      "tags": [
                        {
                          "id": 223,
                          "name": "Sample Tag"
                        }
                      ],
                      "client_id": 123
                    }
                  ],
                  "flags": [
                    {
                      "client_id": 123,
                      "client_name": "Oil Rig",
                      "forced_expiration": "2018-06-30 00:00:00",
                      "is_forced": "True",
                      "system_flag": "Amber",
                      "system_flag_details": [
                        {
                          "flag": "Amber",
                          "forced_expiration": "2018-06-30 00:00:00",
                          "is_forced": "True",
                          "reasons": [
                            {
                              "85": "High TRIR, Missing Documentation"
                            },
                            {
                              "42": "General Liability is missing"
                            }
                          ]
                        },
                        {
                          "flag": "Green",
                          "is_forced": "False",
                          "forced_expiration": "",
                          "reasons": [
                            ""
                          ]
                        }
                      ]
                    }
                  ],
                  "trades": [
                    {
                      "frequency": "most",
                      "service_offerings": [
                        {
                          "82": "Welding"
                        },
                        {
                          "193": "Manufacturing"
                        }
                      ]
                    }
                  ],
                  "service_types": [
                    "On-site",
                    "Off-site"
                  ]
                }
              ]
            },
            "headers": {},
            "schema": {
              "items": {},
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "examples": {
              "application/json; charset=utf-8": {
                "code": "3",
                "message": "Broad Error message"
              }
            },
            "headers": {},
            "schema": {
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Supplier Endpoint"
        ],
        "description": "Retrieves information about the provided supplier ignoring `start`, `limit`, and `modifiedAfter` parameters.",
        "summary": "Get Supplier Data"
      }
    },
    "/v1/flags": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "supplierId": {
                    "type": "integer"
                  },
                  "supplierName": {
                    "type": "string"
                  },
                  "clientId": {
                    "type": "integer"
                  },
                  "clientName": {
                    "type": "string"
                  },
                  "flagId": {
                    "type": "integer"
                  },
                  "flagType": {
                    "type": "string"
                  },
                  "flagName": {
                    "type": "string"
                  },
                  "flagColor": {
                    "type": "string"
                  },
                  "isForced": {
                    "type": "string"
                  },
                  "flagDetails": {
                    "type": "object",
                    "properties": {
                      "formId": {
                        "type": "integer"
                      },
                      "formName": {
                        "type": "string"
                      },
                      "questionId": {
                        "type": "integer"
                      },
                      "forcedBy": {
                        "type": "string"
                      },
                      "varianceReason": {
                        "type": "string"
                      },
                      "varianceExpirationDate": {
                        "type": "string"
                      }
                    }
                  },
                  "flagUpdatedDate": {
                    "type": "string"
                  },
                  "externalId": {
                    "type": "object",
                    "properties": {
                      "clientId": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": [
                {
                  "supplierId": 89010,
                  "supplierName": "Bob's Plumbing Services",
                  "clientId": 123,
                  "clientName": "Oil Rig",
                  "flagId": 234445,
                  "flagType": "Form",
                  "flagName": "General Liability must be approved",
                  "flagColor": "Green",
                  "isForced": "No",
                  "flagDetails": {
                    "formId": 288372,
                    "formName": "General Liability",
                    "questionId": 2223,
                    "forcedBy": "",
                    "varianceReason": "",
                    "varianceExpirationDate": ""
                  },
                  "flagUpdatedDate": "2020-01-31 22:41:40",
                  "externalId": [
                    {
                      "clientId": 123,
                      "type": "Vendor",
                      "value": "132001"
                    }
                  ]
                }
              ]
            }
          }
        },
        "summary": "Get Flags",
        "description": "Retrieves a list of criteria flag data based on the provided apikey. The `flagDetails` object contains information relevant to the type of flag returned. For example, a `flagType` of `account` will have no `formId` or `questionId` values (will default to `\"\"`) since an account level flag does not relate to a specific form/question. Likewise a `flagType` of `question` will have both `formId` and `questionId` populated as a question level flag pertains to a specific question in a specific form.\n\nOnly active suppliers that have approved connections to clients will be returned in this endpoint. \n\nThis endpoint does not retrieve the overall flag status between a supplier and a client, which will be returned in the \"Connections\" endpoint.",
        "tags": [
          "Flag Endpoint"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "apikey",
            "type": "string",
            "description": "The apikey for the client",
            "required": true
          },
          {
            "in": "query",
            "name": "start",
            "type": "number",
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "default": "1"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "number",
            "default": "500",
            "description": "The total number of records to return, maximum of 3000"
          },
          {
            "in": "query",
            "name": "modifiedAfter",
            "type": "string",
            "description": "Optional value to provide which will restrict records to only return those with an flagUpdatedDate after the modified after date."
          },
          {
            "in": "query",
            "name": "supplierId",
            "type": "number",
            "description": "Optional filter for a supplier"
          },
          {
            "in": "query",
            "name": "clientId",
            "type": "number",
            "description": "Optional filter for a client account"
          },
          {
            "in": "query",
            "name": "flagId",
            "type": "number",
            "description": "Optional filter for a specific flag"
          },
          {
            "in": "query",
            "name": "flagType",
            "type": "string",
            "enum": [
              "account",
              "form",
              "question",
              "calculation"
            ],
            "description": "Optional filter on flag type"
          },
          {
            "in": "query",
            "name": "flagColor",
            "type": "string",
            "enum": [
              "green",
              "amber",
              "red",
              "gray"
            ],
            "description": "Optional filter on flag color"
          },
          {
            "in": "query",
            "name": "isForced",
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Optional filter on forced flags"
          },
          {
            "in": "query",
            "name": "externalId",
            "type": "string",
            "description": "Optional filter on external reference ids assigned to suppliers"
          }
        ]
      }
    },
    "/v1/flags/count": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {}
            },
            "examples": {
              "application/json": [
                {
                  "total_records": 145
                }
              ]
            }
          }
        },
        "summary": "Get Flags Count",
        "description": "Retrieves the number of flags returned from the Get Flags endpoint.",
        "tags": [
          "Flag Endpoint"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "apikey",
            "type": "string",
            "description": "The apikey for the client",
            "required": true
          },
          {
            "in": "query",
            "name": "start",
            "type": "number",
            "description": "The record to start with for pagination (1-based, not 0-based)",
            "default": "1"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "number",
            "default": "500",
            "description": "The total number of records to return, maximum of 3000"
          },
          {
            "in": "query",
            "name": "modifiedAfter",
            "type": "string",
            "description": "Optional value to provide which will restrict records to only return those with an flagUpdatedDate after the modified after date."
          },
          {
            "in": "query",
            "name": "supplierId",
            "type": "number",
            "description": "Optional filter for a supplier"
          },
          {
            "in": "query",
            "name": "clientId",
            "type": "number",
            "description": "Optional filter for a client account"
          },
          {
            "in": "query",
            "name": "flagId",
            "type": "number",
            "description": "Optional filter for a specific flag"
          },
          {
            "in": "query",
            "name": "flagType",
            "type": "string",
            "enum": [
              "account",
              "form",
              "question",
              "calculation"
            ],
            "description": "Optional filter on flag type"
          },
          {
            "in": "query",
            "name": "flagColor",
[...]
